apiVersion: extensions/v1beta1
kind: Deployment
metadata:
  name: jenkins-master
spec:
  replicas: 1
  template:
    metadata:
      labels:
        app: jenkins-master
    spec:
      containers:
       - name: jenkins-leader
         #image: phanikumary1995/jenkins-oracle-jdk8
         image: jenkins
         volumeMounts:
          - name: persistent-storage
            mountPath: /var/jenkins_home
          - name: docker-sock-volume
            mountPath: /var/run/docker.sock
         resources:
           requests:
             memory: "1024Mi"
             cpu: "0.5"
           limits: 
             memory: "1024Mi"
             cpu: "0.5"
         ports:
           - name: http-port
             containerPort: 8080
           - name: jnlp-port
             containerPort: 50000
      volumes:
       - name: docker-sock-volume
         hostPath:
           path: /var/run/docker.sock
       - name: persistent-storage
         persistentVolumeClaim:
           claimName: ebs-claim

    #  nodeSelector:
     #   server: node2
